assume_role              = "administrator"
parent_domain_name       = "{{dataworks_domain_name}}"
whitelist_cidr_blocks    = ["{{ucfs['team_cidr_block']}}"]
internet_proxy_port      = {{ports.internet_proxy_port}}
grafana_port             = {{ports.grafana_port}}
prometheus_port          = {{ports.prometheus_port}}
thanos_port_grpc         = {{ports.thanos_port_grpc}}
thanos_port_http         = {{ports.thanos_port_http}}
thanos_port_remote_write = {{ports.thanos_port_remote_write}}
alertmanager_port        = {{ports.alertmanager_port}}
cloudwatch_exporter_port = {{ports.cloudwatch_exporter_port}}
pushgateway_port         = {{ports.pushgateway_port}}
json_exporter_port       = {{ports.json_exporter_port}}
jmx_port                 = {{ports.jmx_port}}

dns_zone_ids = {
    management-dev = {
        development = {{monitoring_dns_zone_ids.development}}
        qa          = {{monitoring_dns_zone_ids.qa}}
        integration = {{monitoring_dns_zone_ids.integration}}
    }
    management = {
        preprod    = {{monitoring_dns_zone_ids.preprod}}
        production = {{monitoring_dns_zone_ids.production}}
    }
}

sdx_dns_zone_ids = {
    development = {{sdx_dns_zone_ids.development}}
    qa          = {{sdx_dns_zone_ids.qa}}
    integration = {{sdx_dns_zone_ids.integration}}
    preprod     = {{sdx_dns_zone_ids.preprod}}
    production  = {{sdx_dns_zone_ids.production}}
}

