terraform {
  required_version = "{{terraform.terraform_13_version}}"

  backend "s3" {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/dataworks-metrics-infrastructure.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "internet_egress" {
  backend   = "s3"
  workspace = lookup(local.slave_peerings, local.environment) == "management-dev" ? "default" : "management"

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-internet-egress.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "security-tools" {
  backend = "s3"
  workspace = terraform.workspace

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-security-tools.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "management" {
  backend   = "s3"
  workspace = lookup(local.slave_peerings, local.environment) == "management-dev" ? "default" : "management"

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/management.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "management_dns" {
  backend   = "s3"
  workspace = "management"

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/management.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "management_dmi" {
  backend   = "s3"
  workspace = lookup(local.slave_peerings, local.environment)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/dataworks-metrics-infrastructure.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "common" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/common.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_concourse" {
  backend   = "s3"
  workspace = lookup(local.slave_peerings, local.environment) == "management-dev" ? "default" : "management"

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-concourse.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "dataworks_cognito" {
  backend   = "s3"
  workspace = lookup(local.slave_peerings, local.environment) == "management-dev" ? "default" : "management"

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/dataworks-cognito.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_ingestion" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-ingestion.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_analytical_dataset_generation" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-analytical-dataset-generation.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_pdm_dataset_generation" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-pdm-dataset-generation.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_internal_compute" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-internal-compute.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_analytical_env_infra" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-analytical-environment_infra.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_analytical_env_app" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-analytical-environment-app.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_ingest_consumers" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/dataworks-aws-ingest-consumers.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_sdx" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-sdx.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "dataworks-aws-data-egress" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/dataworks-aws-data-egress.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_crypto" {
  backend   = "s3"
  workspace = local.crypto_workspace[local.slave_peerings[local.environment]]

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-crypto.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "analytical-frontend-service" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/analytical-frontend-service.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "analytical-service-infra" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/analytical-service-infra.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "orchestration-service" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/orchestration-service.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "snapshot_sender" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-snapshot-sender.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "ucfs-claimant" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/ucfs-claimant.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
} 

data "terraform_remote_state" "aws-azkaban" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-azkaban.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
} 

data "terraform_remote_state" "aws_ucfs_claimant_consumer" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/dataworks-aws-ucfs-claimant-consumer.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_clive" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-clive.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "dataworks_aws_mongo_latest" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/dataworks-aws-mongo-latest.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_uc_feature" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-uc-feature-infrastructure.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "aws_cyi" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/aws-cyi-infrastructure.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

data "terraform_remote_state" "dataworks_aws_kickstart_adg" {
  backend   = "s3"
  workspace = lookup(local.common_workspace, terraform.workspace)

  config = {
    bucket         = "{{terraform.state_file_bucket}}"
    key            = "terraform/dataworks/dataworks-aws-kickstart-adg.tfstate"
    region         = "{{terraform.state_file_region}}"
    encrypt        = true
    kms_key_id     = "arn:aws:kms:{{terraform.state_file_region}}:{{terraform.state_file_account}}:key/{{terraform.state_file_kms_key}}"
    dynamodb_table = "remote_state_locks"
  }
}

variable "assume_role" {
  default = "ci"
}

variable "region" {
  default = "eu-west-2"
}

provider "aws" {
version = "~> 3.42.0"
  region  = var.region

  assume_role {
    role_arn = "arn:aws:iam::${lookup(local.account, local.environment)}:role/${var.assume_role}"
  }
}

provider "aws" {
version = "~> 3.42.0"
  alias   = "management"
  region  = var.region

  assume_role {
    role_arn = "arn:aws:iam::${local.account.management}:role/${var.assume_role}"
  }
}

provider "aws" {
version = "~> 3.42.0"
  alias   = "dmi_management"
  region  = var.region

  assume_role {
    role_arn = "arn:aws:iam::${lookup(local.account, lookup(local.slave_peerings, local.environment))}:role/${var.assume_role}"
  }
}

provider "aws" {
version = "~> 3.42.0"
  alias   = "management_dns"
  region  = var.region

  assume_role {
    role_arn = "arn:aws:iam::${local.account["management"]}:role/${var.assume_role}"
  }
}
provider "aws" {
version = "~> 3.42.0"
  alias   = "management_zone"
  region  = var.region

  assume_role {
    role_arn = "arn:aws:iam::${local.account[local.slave_peerings[local.environment]]}:role/${var.assume_role}"
  }
}

provider "aws" {
version = "~> 3.42.0"
  region  = var.region
  alias   = "non_management_zone"

  assume_role {
    role_arn = "arn:aws:iam::${local.account[local.environment]}:role/${var.assume_role}"
  }
}

// Get AWS Account ID for credentials in use
data "aws_caller_identity" "current" {}

data "aws_region" "current" {}
data "aws_availability_zones" "available" {}

locals {
  account = { {% for key, value in accounts.items() %}
    {{key}} = "{{value}}"{% endfor %}
  }
}

locals {
  internet_proxy = {
    url  = format("http://%s:3128", aws_vpc_endpoint.secondary_internet_proxy.dns_entry[0].dns_name)
    sg   = aws_security_group.secondary_internet_proxy_endpoint.id
    host = aws_vpc_endpoint.secondary_internet_proxy.dns_entry[0].dns_name
    port = 3128
  }

  amazon_region_domain = "${data.aws_region.current.name}.amazonaws.com"
  endpoint_services    = ["dynamodb", "ec2", "ec2messages", "glue", "kms", "logs", "monitoring", ".s3", "s3", "secretsmanager", "ssm", "ssmmessages"]
  no_proxy             = "127.0.0.1,s3.${var.region}.amazonaws.com,secretsmanager.${var.region}.amazonaws.com,${local.environment}.services.${var.parent_domain_name}"

  cidr_block_ucfs_claimant_vpc = local.environment != "management" && local.environment != "management-dev" ? local.cidr_block[local.environment].ucfs-claimant-api-vpc : "0.0.0.0/0"
  cidr_block_cicd_vpc = local.environment == "management" || local.environment == "management-dev" ? local.cidr_block[local.environment].ci-cd-vpc : "0.0.0.0/0"
  cidr_block_internal_compute_vpc = local.environment != "management" && local.environment != "management-dev" ? local.cidr_block[local.environment].internal-compute-vpc : "0.0.0.0/0"
  cidr_block_ingest_vpc           = local.environment != "management" && local.environment != "management-dev" ? local.cidr_block[local.environment].ingest-vpc : "0.0.0.0/0"
  cidr_block_mon_master_vpc = local.environment == "management" || local.environment == "management-dev" ? [local.cidr_block[local.environment].mon-master-vpc] : ["0.0.0.0/0"]

  parent_domain_name = {
    management-dev = "mgt-dev.${var.parent_domain_name}"
    management = var.parent_domain_name
    development = "dev.${var.parent_domain_name}"
    qa = "qa.${var.parent_domain_name}"
    integration = "int.${var.parent_domain_name}"
    preprod = "preprod.${var.parent_domain_name}"
    production = "prod.${var.parent_domain_name}"
  }

  slave_peerings = {
    management-dev = "management-dev"
    management = "management"
    development = "management-dev"
    qa = "management-dev"
    integration = "management-dev"
    preprod = "management"
    production = "management"
  }

  master_peerings = {
    management-dev = ["management-dev", "development", "qa", "integration"]
    management = ["management", "preprod", "production"]
  }

  crypto_workspace = {
    management-dev = "management-dev"
    management     = "management"
  }

  common_workspace = {
    management-dev = "default"
    management     = "preprod"
    default        = "default"
    qa             = "qa"
    integration    = "integration"
    preprod        = "preprod"
    production     = "production"
  }

  roles = [{% for value in roles %}"{{value}}"{{ "," if not loop.last }}{% endfor %}]

  environment = terraform.workspace == "default" ? "development" : terraform.workspace

  primary_role_index = 0
  secondary_role_index = index(local.roles, var.secondary)

  management_envs = ["management-dev", "management"]

  is_management_env = contains(local.management_envs, local.environment)

  tags = {
  {% for key, value in common_tags.items() %}
    {{key}} = "{{value}}"{% endfor %}
    Name         = "prometheus"
    Environment  = local.environment
    Project      = "monitoring"
    Application  = "dataworks-metrics-infrastructure"
    Persistence  = "Ignore"
    AutoShutdown = "False"
  }

  root_dns_name = {
    development = "dev.wip.{{dataworks_domain_name}}"
    qa          = "qa.wip.{{dataworks_domain_name}}"
    integration = "int.wip.{{dataworks_domain_name}}"
    preprod     = "pre.{{dataworks_domain_name}}"
    production  = "{{dataworks_domain_name}}"
  }

  cidr_block = {
  {% for environment, ranges in cidr_block.items() %}
      {{ environment }} = {
        {% for key, value in ranges.items() %}
          {{ key }} = "{{ value }}"{% endfor %}
      } {% endfor %}
  }

  zone_count = length(data.aws_availability_zones.current.zone_ids)
  zone_names = data.aws_availability_zones.current.names

  metrics_ecs_friendly_name = "metrics-ecs-cluster"
  additional_metrics_ecs_friendly_name = "additional-metrics-ecs-cluster"
  metrics_friendly_name = "metrics-cluster"
  additional_metrics_friendly_name = "additional-metrics-cluster"
  cluster_name              = replace(local.metrics_ecs_friendly_name, "-ecs-cluster", "")

  iam_role_max_session_timeout_seconds = 43200

  cw_agent_namespace_metrics_ecs      = "/app/${local.metrics_ecs_friendly_name}"
  cw_agent_log_group_name_metrics_ecs = "/app/${local.metrics_ecs_friendly_name}"

  metrics_ecs_cluster_asg_autoshutdown = {
    development = "False"
    qa          = "False"
    integration = "False"
    preprod     = "False"
    production  = "False"
    management     = "False"
    management-dev = "False"
  }

  metrics_ecs_cluster_asg_ssmenabled = {
    development = "True"
    qa          = "True"
    integration = "True"
    preprod     = "False"
    production  = "False"
    management     = "False"
    management-dev = "False"
  }

  ebs_volume_size = {
    development = 667
    qa          = 667
    integration = 667
    preprod     = 667
    production  = 667
    management     = 667
    management-dev = 667
  }

  ebs_volume_type = {
    development = "gp3"
    qa          = "gp3"
    integration = "gp3"
    preprod     = "gp3"
    production  = "gp3"
    management     = "gp3"
    management-dev = "gp3"
  }

  mgmt_ebs_volume_size = {
    development = 667
    qa          = 667
    integration = 667
    preprod     = 667
    production  = 667
    management     = 667
    management-dev = 667
  }

  mgmt_ebs_volume_type = {
    development = "gp3"
    qa          = "gp3"
    integration = "gp3"
    preprod     = "gp3"
    production  = "gp3"
    management     = "gp3"
    management-dev = "gp3"
  }

  metrics_ecs_asg_tags = merge(
    local.tags,
    {
      Name              = local.metrics_ecs_friendly_name,
      AutoShutdown      = local.metrics_ecs_cluster_asg_autoshutdown[local.environment],
      SSMEnabled        = local.metrics_ecs_cluster_asg_ssmenabled[local.environment],
      Persistence       = "Ignore",
      AmazonECSManaged  = ""
    }
  )
  nifi_endpoint_url               = local.is_management_env ? null_resource.dummy.id : data.terraform_remote_state.snapshot_sender.outputs.nifi_endpoint_url
  blackbox_hostname               = local.is_management_env ? null_resource.dummy.id : "${data.terraform_remote_state.aws_sdx.outputs.private_dns.blackbox_service_discovery.name}.${data.terraform_remote_state.aws_sdx.outputs.private_dns.sdx_service_discovery_dns.name}"
  analytical_frontend_domain_name = local.is_management_env ? null_resource.dummy.id : "${data.terraform_remote_state.analytical-frontend-service.outputs.frontend_service.frontend_service_discovery.name}.${data.terraform_remote_state.analytical-frontend-service.outputs.frontend_service.frontend_service_discovery_dns.name}"

  dns_zone_ids = {
    management-dev = {
        development = "{{monitoring_dns_zone_ids.development}}"
        qa          = "{{monitoring_dns_zone_ids.qa}}"
        integration = "{{monitoring_dns_zone_ids.integration}}"
    }
    management = {
        preprod    = "{{monitoring_dns_zone_ids.preprod}}"
        production = "{{monitoring_dns_zone_ids.production}}"
    }
}

  sdx_dns_zone_ids = {
      development = "{{sdx_dns_zone_ids.development}}"
      qa          = "{{sdx_dns_zone_ids.qa}}"
      integration = "{{sdx_dns_zone_ids.integration}}"
      preprod     = "{{sdx_dns_zone_ids.preprod}}"
      production  = "{{sdx_dns_zone_ids.production}}"
  }

  pdm_dns_zone_ids = {
      development = "{{pdm_dns_zone_ids.development}}"
      qa          = "{{pdm_dns_zone_ids.qa}}"
      integration = "{{pdm_dns_zone_ids.integration}}"
      preprod     = "{{pdm_dns_zone_ids.preprod}}"
      production  = "{{pdm_dns_zone_ids.production}}"
  }

  adg_dns_zone_ids = {
      development = "{{adg_dns_zone_ids.development}}"
      qa          = "{{adg_dns_zone_ids.qa}}"
      integration = "{{adg_dns_zone_ids.integration}}"
      preprod     = "{{adg_dns_zone_ids.preprod}}"
      production  = "{{adg_dns_zone_ids.production}}"
  }

  clive_dns_zone_ids = {
      development = "{{clive_dns_zone_ids.development}}"
      qa          = "{{clive_dns_zone_ids.qa}}"
      integration = "{{clive_dns_zone_ids.integration}}"
      preprod     = "{{clive_dns_zone_ids.preprod}}"
      production  = "{{clive_dns_zone_ids.production}}"
  }

  uc_feature_dns_zone_ids = {
      development = "{{uc_feature_dns_zone_ids.development}}"
      qa          = "{{uc_feature_dns_zone_ids.qa}}"
      integration = "{{uc_feature_dns_zone_ids.integration}}"
      preprod     = "{{uc_feature_dns_zone_ids.preprod}}"
      production  = "{{uc_feature_dns_zone_ids.production}}"
  }

  cyi_dns_zone_ids = {
      development = "{{cyi_dns_zone_ids.development}}"
      qa          = "{{cyi_dns_zone_ids.qa}}"
      integration = "{{cyi_dns_zone_ids.integration}}"
      preprod     = "{{cyi_dns_zone_ids.preprod}}"
      production  = "{{cyi_dns_zone_ids.production}}"
  }

  ucfs_claimant_dns_zone_ids = {
     development = "{{ucfs_claimant_dns_zone_ids.development}}"
     qa          = "{{ucfs_claimant_dns_zone_ids.qa}}"
     integration = "{{ucfs_claimant_dns_zone_ids.integration}}"
     preprod     = "{{ucfs_claimant_dns_zone_ids.preprod}}"
     production  = "{{ucfs_claimant_dns_zone_ids.production}}"
  }

  mongo_latest_dns_zone_ids = {
      development = "{{mongo_latest_dns_zone_ids.development}}"
      qa          = "{{mongo_latest_dns_zone_ids.qa}}"
      integration = "{{mongo_latest_dns_zone_ids.integration}}"
      preprod     = "{{mongo_latest_dns_zone_ids.preprod}}"
      production  = "{{mongo_latest_dns_zone_ids.production}}"
  }

  kickstart_adg_dns_zone_ids = {
      development = "{{kickstart_adg_dns_zone_ids.development}}"
      qa          = "{{kickstart_adg_dns_zone_ids.qa}}"
      integration = "{{kickstart_adg_dns_zone_ids.integration}}"
      preprod     = "{{kickstart_adg_dns_zone_ids.preprod}}"
      production  = "{{kickstart_adg_dns_zone_ids.production}}"
  }

  certs_prefixes = ["server_certificates", "ca_certificates"]

}


data "aws_iam_user" "breakglass" {
  user_name = "breakglass"
}

data "aws_iam_role" "ci" {
  name = "ci"
}

data "aws_iam_role" "administrator" {
  name = "administrator"
}

data "aws_iam_role" "aws_config" {
  name = "aws_config"
}
