jobs:
  - name: integration
    plan:
      - get: dataworks-metrics-infrastructure
        passed:
        - qa
        trigger: false
      - .: (( inject meta.plan.terraform-bootstrap ))
        params:
          TF_WORKSPACE: integration
      - .: (( inject meta.plan.terraform-apply ))
        params:
          TF_WORKSPACE: integration
      - .: (( inject meta.plan.terraform-plan ))
        params:
          TF_WORKSPACE: integration
